body {
    background-color: #222;
    color: aliceblue;
    margin: 0;
    font-family: sans-serif;
}
.contacts ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contacts .avatar img {
    height: 3em;
    
}


/* 
ul {
    display: table;
}
li {
    display: table-row;
}

.avatar {
    display: table-cell;
    border: 1px solid white;
    
}
    
    


.name {
    display: table-row;
    
}
.message {
  display: table-row;
} */

.avatar {
    display: inline-block;
}
.info {
    display: inline-block
    
}

.name {
  display: table-row;
  
  
}
 
.message {
    display: table-row;
    
    
}
.contacts .avatar .status {
    width: 0.4em;
    height: 0.4em;
    display: inline-block;
    border-radius: 0.4em;
    margin-left: -1em;
}

.status.off {
    border: 1px solid #777;
    background-color: #333;

}

.status.on {
    border: 1px solid green;
    background-color: lightgreen;

}